@page
@using Pages.Student
@model Create

    <form method="post">
        First Name:
        <input type="text"
               name="FirstName"
               value="" />
        <input type="text"
               name="LastName"
               value="" />
        <input type="number"
               name="GPA"
               step="any"
               value="" />
        <input type="submit" value="Commit" />
    </form>
